doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
		script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
	style
		include ../public/css/restaurants.css
		include ../public/js/restaurants.js

		title Restaurants
	body
		div(class='nav')
			h1 GLU<b>NO</b>
		form(action='/search', method='post', autocomplete='off')
			input(type='text', name='search', placeholder='Search for restaurant name, place name' style='width: 300px' value=search)
			button(type='submit', name='submit') Submit

		p Overview all restaurants database
		br
		br
		br
		div(class='container')
			each restaurant in restaurants
				div(class='box')
					<a href="/restaurant?id=#{restaurant.id}"> #{restaurant.Name} </a> 
					p #{restaurant.Address}
					p #{restaurant.City}
					p <b>Website:</b> <a href='#{restaurant.Website}'>#{restaurant.Name}</a>
					p <b>Description:</b> #{restaurant.Description}
					br


