doctype html
html
	head
		
		link(rel='stylesheet' type='text/css' href='css/restaurant.css')
		script(src='js/restaurant.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

		title Restaurants
	body
		div(class='nav')
			h1 GLU<b>NO</b>
		div(class='info')
			p #{restaurant.Name}
			p #{restaurant.Address}
			p #{restaurant.City}
			p #{restaurant.Website}		
			p #{restaurant.Description}

		div(id='floating-panel')
			input#address(type='textbox', value=restaurant.Address)
		div(id='map')
		
		div(class='review')
			form(action='/restaurant', method='post', autocomplete='off')
				input(type='text', name='Name', placeholder='Your Name', style='width: 200px')
				br
				textarea(type='text', name='info', placeholder='e.g. Were there a lot of options? Quality of the glutenfree food?', style='width: 200px; height: 70px')
				br
				button(type='submit', value='Submit Restaurant') Add your review
		script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBMVoONY_EeWiLGprkUZ4WISbtCkvrylO8&callback=initMap')
